<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/static/bootstrap-3.3.5-dist/css/bootstrap.css">
<link rel="stylesheet" href="/static/font-awesome-4.4.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Raleway+Dots|Source+Sans+Pro|Dosis|Gudea|Kameron|Fenix' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/style.css">

	<title>
	Stuff and things
	</title>
</head>

<body>
    <header>
     <div class="dropdown">
            <i class="fa fa-bars"></i>
            <div class="menu">
                <div>
                    <a href="/user-page">Personal Listings</a>
                </div>
                <div>
                    <a href="/new-posting">Post New Items Here</a>
                </div>
                <div>
                    <a href="/faq">Frequently Asked Questions</a>
                </div>
            </div>   
        </div>
        <div class="login">
            {% if "user_id" in session %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </div>
        <div class="title">
        <a href="/">CloudCloset</a>
        </div>
       

        <div class="flash_message">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        </div>


{% block content %} put your content here {% endblock %}

<script src="http://code.jquery.com/jquery.js"></script>
<script src="../static/toggler.js"></script>

<script src="../static/node_modules/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="../static/node_modules/imagesloaded/imagesloaded.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script src="../static/masonry.js"></script>




</body>
</html>