{% extends 'base.html' %}
{% block content %}

<form action="process-form" method="POST">

	<div>
		<label>Email Address:
			<input type="email" name="email">
		</label>
	</div>

	<div>
		<label>Is this listing for an item you want, or an item you have to share?
			<input type="radio" name="post_type" value="Wish">I want this item.
			<input type="radio" name="post_type" value="Share">This item is to share.
		</label>
	</div>

	<div>
		<label>Clothing Size:
			{% for size in sizes %}
			<input type="radio" name="size" value="{{ size.sizes }}">{{ size.sizes}}
			{% endfor %}
		</label>
	</div>

	<div>
		<label>Clothing Style:
			{% for style in style_code %}
			<input type="radio" name="style" value="{{ style.code_desc }}">{{ style.code_desc }}
			{% endfor %}
		</label>
	</div>

	<div>
		<label>Clothing Type:
			{% for type in item_type %}
			<input type="radio" name="type" value="{{ type.type_desc }}">{{ type.type_desc }}
			{% endfor %}
		</label>
	</div>

	<div>
		<label>Optional Photo Url:
			<input type="text" name="photo_url">
		</label>
	</div>

	<div>
		<input type="submit">
	</div>

</form>


{% endblock %}