{% extends 'base.html' %}
{% block content %}

<div class="toggle_button">
<button class="items_toggle">See What Users Are Sharing</button>
</div>

<div style="display: none" class="display sharing">
	{% for item in share %}
	<div class="item">
	<span class="item_text">
		{% if "user_id" in session %}
			{{ item.User.user_name }} shared a {{ item.Post.style }} {{ item.Post.item_type }} available in size {{ item.Post.size }}. If this is an item you'd like, please contact them at <a href="mailto:{{ item.Post.user_email }}">{{ item.Post.user_email }}</a>
		{% else %}
			There is a {{ item.Post.style }} {{ item.Post.item_type }} available in size {{ item.Post.size }}. If this is an item you'd like, please login to contact {{ item.User.user_name }}.
		{% endif %}
	</span>
	<div>
	<img src="{{ item.Post.pic }}" class="photo">
	</div>
	</div>
	{% endfor %}
</div>

<div class="display wanting">
	{% for item in wish %}
	<div class="item">
	<span class="item_text">
	{% if "user_id" in session %}
		{{ item.User.user_name }} needs a {{ item.Post.style }} {{ item.Post.item_type }} in size {{ item.Post.size}}. If you have this item, please contact the user at  <a href="mailto:{{ item.Post.user_email }}">{{ item.Post.user_email }}</a>
	{% else %}
		A user needs a {{ item.Post.style }} {{ item.Post.item_type }} in size {{ item.Post.size}}. If you have this item, please login to contact {{ item.User.user_name }}.
	{% endif %}
	</span>
	<div>
		<img src="{{ item.Post.pic }}" class="photo">
	</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
