{% extends 'base.html' %}
{% block content %}

<form action="login" method="POST" class="form">

	<div class="form_input">
		<label>Username or email:
			<input type="text" name="name">
		</label>
	</div>
	<div class="form_input">
		<label>Password:
			<input type="password" name="password">
		</label>
	</div>

    <div class="form_submit">
        <input type="submit">
    </div>

</form>
	
	<div class="register_text">
    Not yet a member? <a href="/register-form">Click Here!</a>
    </div>


{% endblock %}