{% extends 'base.html' %}
{% block content %}

<form action="new-posting" method="POST" class="form_post">

	<div class="form_input">
		<label>Is this listing for an item you want, or an item you have to share?
		<select name="post_type" class="form_dropdown">
			<option value="Wish" required class="form_option">I want this item.</option>
			<option value="Share" required class="form_option">I am sharing this item.</option>
		</select>
		</label>
	</div>


	<div class="form_input">
		<label>Clothing Size:
		<select name="size" class="form_dropdown">
			{% for size in sizes %}
			<option value="{{ size.sizes }}" required class="form_option">{{ size.sizes}}</option>
			{% endfor %}
		</select>
		</label>
	</div>

	<div class="form_input">
		<label>Clothing Style:
		<select name="style" class="form_dropdown">
			{% for style in style_code %}
			<option value="{{ style.code_desc }}" required class="form_option">{{ style.code_desc }}</option>
			{% endfor %}
		</select>
		</label>
	</div>

	<div class="form_input">
		<label>Clothing Type:
		<select name="type" class="form_dropdown">
			{% for type in item_type %}
			<option value="{{ type.type_desc }}" requird class="form_option">{{ type.type_desc }}</option>
			{% endfor %}
		</select>
		</label>
	</div>

	<div class="form_input">
		<label>Optional Photo Url:
			<input type="text" name="photo_url">
		</label>
	</div>

	<div class="form_submit">
		<input type="submit">
	</div>

</form>


{% endblock %}