{% extends 'base.html' %}
{% block content %}

<form action="new-posting" method="POST" class="form_post">

	<div class="form_input">
		<label>Is this listing for an item you want, or an item you have to share?
		<select name="post_type">
			<option value="Wish" required>I want this item.</option>
			<option value="Share" required>I am sharing this item.</option>
		</select>
		</label>
	</div>


	<div class="form_input">
		<label>Clothing Size:
		<select name="size">
			{% for size in sizes %}
			<option value="{{ size.sizes }}" required>{{ size.sizes}}</option>
			{% endfor %}
		</select>
		</label>
	</div>

	<div class="form_input">
		<label>Clothing Style:
		<select name="style">
			{% for style in style_code %}
			<option value="{{ style.code_desc }}" required>{{ style.code_desc }}</option>
			{% endfor %}
		</select>
		</label>
	</div>

	<div class="form_input">
		<label>Clothing Type:
		<select name="type">
			{% for type in item_type %}
			<option value="{{ type.type_desc }}" requird>{{ type.type_desc }}</option>
			{% endfor %}
		</select>
		</label>
	</div>

	<div class="form_input">
		<label>Optional Photo Url:
			<input type="text" name="photo_url" >
		</label>
	</div>

	<div class="form_submit">
		<input type="submit">
	</div>

</form>


{% endblock %}