{% extends 'base.html' %}
{% block content %}

<div>
	This form allows you give a photo URL. If further updates are required, simply delete this posting <a href="/delete-posting">here</a> and start over.
</div>
<div>
	For the {{ post.post_types }} for a {{ post.style }} {{ post.item_type }} available in size {{ post.size }}.
</div>

<form action='update/{{ post.post_id }}' method="POST">

	<div>
		<label>Optional Photo Url:
			<input type="text" name="photo_url">
		</label>
	</div>

	<div>
		<input type="submit">
	</div>

</form>




{% endblock %}