{% extends 'base.html' %}
{% block content %}

<button>Toggle</button>

<div style="display: none" class="display sharing">
	Here are items that people sharing:
	<ul>
	{% for item in share %}
	<li>
	There is a {{ item.Post.style }} {{ item.Post.item_type }} available in size {{ item.Post.size }}. If this is an item you'd like, please login to contact {{ item.User.user_name }}.
	<img src="{{ item.Post.pic }}">
	</li>
	{% endfor %}
	</ul>
</div>

<div class="display wanting">
	Here are items that people are looking for:
	<ul>
	{% for item in wish %}
	<li>
	A user needs a {{ item.Post.style }} {{ item.Post.item_type }} in size {{ item.Post.size}}. If you have this item, please login to contact {{ item.User.user_name }}.
	<img src="{{ item.Post.pic }}">
	</li>
	{% endfor %}
	</ul>
</div>



<script src="http://code.jquery.com/jquery.js"></script>
<script src="../static/toggler.js"></script>
{% endblock %}