{% extends 'base.html' %}
{% block content %}

<div class="toggle_button">
<button class="user_toggle">Click for Shared Items</button>
</div>

<div class="user_greeting">
Welcome {{ user.user_name }}
</div>


<div style="display: none" class="display sharing">
	<div class="item">
	<span class="item_text">
	{% for item in share %}
		A {{ item.style }} {{ item.item_type }} available in size {{ item.size }}
	</span>
		<img src="{{ item.pic }}" class="photo">
	</div>
	{% endfor %}
</div>

<div class="display wanting">
	{% for item in wish %}
	<div class="item">
	<span class="item_text">
		A {{ item.style }} {{ item.item_type }} available in size {{ item.size }}.
	</span> 
	<img src="{{ item.pic }}" class="photo">
	</div>
	{% endfor %}
</div>




<a href="/update-user">Update Your Information Here</a>
<a href="/post-update">Update Photo Here</a>
<a href="/delete-posting">Delete Posts Here</a>

{% endblock %}